test/xsd/Fedwire_Funds_Service_Release_2025_AccountBalanceReport_Self_camt_052_001_08_20241122_1718_iso15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Fedwire Funds Service
Collection: Fedwire Funds Service Release 2025
Usage Guideline: AccountBalanceReport_Self_camt.052.001.08
Base Message: camt.052.001.08
Date of publication: 30 July 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_ozvbgCxpEeyCOPAtSa9DrA/_VQxMZa-VEeyIerYMEBOomQ
Description: Fedwire Funds Service Scope

The account balance report – self is the message the Fedwire Funds Service uses to provide a Fedwire Funds participant with information about debit and credit balances; associated counts where appropriate; opening balance; FedNow Service, Fedwire Funds Service, Fedwire Securities Service, National Settlement Service, and prefunded ACH transactions; and available funds. 

Fedwire Funds Service Usage

The account balance report – self is used by Fedwire Funds participants for reconciliation purposes. 

Depending on the Fedwire Funds participant profile settings, the Fedwire Funds Service may send unsolicited account balance reports (camt.052 with identification ‘ABAR’) at the opening of, during, and/or at the end of the Fedwire Funds Service funds-transfer business day. 

A Fedwire Funds participant can solicit an account balance report – self during the Fedwire Funds Service funds-transfer business day by sending an account reporting request (camt.060) message to the Fedwire Funds Service to obtain its current account balances from the Account Balance Services (ABS) application. 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-11-07T19:58:12+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReport25__1">
        <xs:sequence>
            <xs:element name="Id" type="BalanceReport_FRS_1"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="Acct" type="CashAccount39__1"/>
            <xs:element name="RltdAcct" type="CashAccount38__1"/>
            <xs:element maxOccurs="3" minOccurs="2" name="Bal" type="CashBalance8__1"/>
            <xs:element name="TxsSummry" type="TotalTransactions6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountReporting_FedwireFunds_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountType_FRS_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection35">
        <xs:sequence>
            <xs:element name="Amt" type="NonNegativeDecimalNumber"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceReport_FRS_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRDC"/>
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="ABMS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceType10Choice__1">
        <xs:choice>
            <xs:element name="Prtry" type="BalanceType_FRS_1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceType13__1">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="BalanceType10Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceType_FRS_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAL"/>
            <xs:enumeration value="AVLD"/>
            <xs:enumeration value="DLOD"/>
            <xs:enumeration value="OBFL"/>
            <xs:enumeration value="OBNL"/>
            <xs:enumeration value="OBPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankToCustomerAccountReportV08">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1"/>
            <xs:element name="Rpt" type="AccountReport25__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:sequence>
            <xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
            <xs:element name="Tp" type="CashAccountType2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:choice>
            <xs:element name="Prtry" type="AccountType_FRS_1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashBalance8__1">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType13__1"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Dt" type="DateAndDateTime2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:choice>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:sequence>
            <xs:element name="MsgId" type="AccountReporting_FedwireFunds_1"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="MsgPgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberAndSumOfTransactions1__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfNtries" type="Max15NumericText"/>
            <xs:element name="Sum" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1__1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="MsgNmId" type="MessageNameIdentification_FRS_1"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1__1">
        <xs:sequence>
            <xs:element name="Cd" type="TransactionsSummaryType_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalTransactions6__1">
        <xs:sequence>
            <xs:element maxOccurs="7" minOccurs="7" name="TtlNtriesPerBkTxCd" type="TotalsPerBankTransactionCode5__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalsPerBankTransactionCode5__1">
        <xs:sequence>
            <xs:element name="TtlNetNtry" type="AmountAndDirection35"/>
            <xs:element name="CdtNtries" type="NumberAndSumOfTransactions1__1"/>
            <xs:element name="DbtNtries" type="NumberAndSumOfTransactions1__1"/>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1"/>
            <xs:element name="Dt" type="DateAndDateTime2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionsSummaryType_FRS_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FDWS"/>
            <xs:enumeration value="NSSE"/>
            <xs:enumeration value="AVOT"/>
            <xs:enumeration value="UVOT"/>
            <xs:enumeration value="FDWF"/>
            <xs:enumeration value="FDAP"/>
            <xs:enumeration value="FDNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
