test/xsd/Fedwire_Funds_Service_Release_2025_InvestigationRequest_camt_110_001_01_20241122_1718_iso15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Fedwire Funds Service
Collection: Fedwire Funds Service Release 2025
Usage Guideline: InvestigationRequest_camt.110.001.01
Base Message: camt.110.001.01
Date of publication: 30 July 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_ozvbgCxpEeyCOPAtSa9DrA/_6luz0J3UEe6waYvv0XD_oA
Description: Scope
The InvestigationRequest message is sent between agents or parties to create a payment or account related investigation or request a status update on an open payment or account related investigation.

Usage
The InvestigationRequest message can be used to create an investigation for these business scenarios -
- unable to apply;
- request for information;
- request value date adjustment;
- claim non-receipt;
- request debit authorisation;
- request use of funds;
- payment initiation not confirmed;
- miscellaenous business scenarios.
The InvestigationRequest message covers one and only one transaction or entry at a time in most business scenarios. In a request for information an agent or party may refer to more than one transaction within the Narrative element. For all other scenarios if an agent or party needs to create investigations that relate to several transactions or entries then several InvestigationRequest messages should be sent.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-11-08T15:26:54+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.110.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.110.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalRequestData1Choice__1">
        <xs:choice>
            <xs:element name="ReqNrrtv" type="Max500Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"/>
            <xs:element name="MmbId" type="RoutingNumber_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InvstgtnReq" type="InvestigationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USABA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationReasonSubType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationSubType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IMAD_FedwireFunds_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}[A-Z0-9]{8}[0-9]{6}"/>
            <xs:minLength value="22"/>
            <xs:maxLength value="22"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InvestigationReason1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationReason2__1">
        <xs:sequence>
            <xs:element name="Rsn" type="InvestigationReason1Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsnSubTp" type="InvestigationReasonSubType1Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlReqData" type="AdditionalRequestData1Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationReasonSubType1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationReasonSubType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationRequest2__1">
        <xs:sequence>
            <xs:element name="MsgId" type="IMAD_FedwireFunds_1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RqstrInvstgtnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrInvstgtnId" type="Max35Text"/>
            <xs:element name="InvstgtnTp" type="InvestigationType1Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnSubTp" type="InvestigationSubType1Choice__1"/>
            <xs:element name="Undrlyg" type="UnderlyingData2Choice__1"/>
            <xs:element name="Rqstr" type="Party40Choice__1"/>
            <xs:element name="Rspndr" type="Party40Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestV01">
        <xs:sequence>
            <xs:element name="InvstgtnReq" type="InvestigationRequest2__1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InvstgtnData" type="InvestigationReason2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationSubType1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationSubType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationType1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party40Choice__1">
        <xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnderlyingData2Choice__1">
        <xs:choice>
            <xs:element name="Initn" type="UnderlyingPaymentInstruction8__1"/>
            <xs:element name="IntrBk" type="UnderlyingPaymentTransaction7__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnderlyingGroupInformation1__1">
        <xs:sequence>
            <xs:element name="OrgnlMsgId" type="Max35Text"/>
            <xs:element name="OrgnlMsgNmId" type="MessageNameIdentification_FRS_1"/>
            <xs:element name="OrgnlCreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnderlyingPaymentInstruction8__1">
        <xs:sequence>
            <xs:element name="OrgnlGrpInf" type="UnderlyingGroupInformation1__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlPmtInfId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlEndToEndId" type="Max35Text"/>
            <xs:element name="OrgnlUETR" type="UUIDv4Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlInstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="ReqdExctnDt" type="DateAndDateTime2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnderlyingPaymentTransaction7__1">
        <xs:sequence>
            <xs:element name="OrgnlGrpInf" type="UnderlyingGroupInformation1__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlEndToEndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTxId" type="Max35Text"/>
            <xs:element name="OrgnlUETR" type="UUIDv4Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlIntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlIntrBkSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
